// out: style.css, sourcemap: true, compress: true
// main: style.less

@smartphones: ~"only screen and (max-width: 479px)";
@gris-bleu: #333447;

body {
  font-family: 'Lato', sans-serif;
}

.bonjour {
  justify-content: center;
}

.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 10rem;
  color: @gris-bleu;
  text-transform: uppercase;
  line-height: 10rem;
  text-align: center;

  @media @smartphones {
    font-size: 4rem;
    line-height: 5rem;
  }
}

h2, h3, h4, h5, h6 {
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  color: @gris-bleu;
  text-align: center;
}

.englobant {
  .grid-x {
    justify-content: space-around;
  }
}

i {
  font-size: 3rem;
}
